
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="form-group">
       <div>@Html.ActionLink("Save Department", "AddDepartdment")</div>
    </div>
</div>


<div class="container">
    <div class="form-group">
        <div>@Html.ActionLink("Save Batch", "Batch")</div>
    </div>
</div>


<div class="container">
    <div class="form-group">
        <div>@Html.ActionLink("Save Session", "Session")</div>
    </div>
</div>